# Arbitrum 主网 RPC 节点
ARBITRUM_RPC_URL_1=https://arbitrum-mainnet.infura.io/v3/YOUR_INFURA_KEY
ARBITRUM_RPC_URL_2=https://arbitrum-mainnet.core.chainstack.com/YOUR_CHAINSTACK_PATH

# 热钱包私钥（以 0x 开头）
OPERATOR_PRIVATE_KEY=0xYOUR_PRIVATE_KEY

# 部署的套利合约地址
CONTRACT_ADDRESS=0xYOUR_CONTRACT_ADDRESS

# 最小利润门槛（以人类可读的单位，不同的套利对，借的币不同，盈利币也就不同。假设盈利0.1美元）
MIN_PROFIT_THRESHOLD_WETH=0.00006
MIN_PROFIT_THRESHOLD_WBTC=0.0000016

# 检查间隔（秒）
CHECK_INTERVAL=1.2